$base-font-family: 'Grotesk-Regular', serif;
$title-font-family: 'Clash Grotesk', serif;
$bold-font-family: 'Inter-Bold', serif;

@font-face {
    font-family: 'Grotesk-Regular';
    src: url('fonts/SpaceGrotesk_Complete/Fonts/WEB/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Grotesk-Bold';
    src: url('fonts/ClashGrotek_Complete/Fonts/WEB/fonts/ClashGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
}


@font-face {
    font-family: 'Grotesk-Thin';
    src: url('fonts/Space_Grotesk/static/SpaceGrotesk-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: lighter;
}


$background-color:#1b1b1b;
$element-color:#2b2b2b;
$hover-element-color:#3d3d3d;
$text-color: #D8D8D8;
$hover-color: #4ec940;
$meta-color: #4b4848;
$link-color: #7cff6e;
$hl-color: #a5ff1c;
$border-color: #2b2b2b;
@import "base";
@import "effects";
