{% extends "base.html" %}

{% block content %}
    <article class="article">
	<hr>
        <div class="article-header">
		<div class="article-title">
			<h1 class="article-title">{{ page.title }}.md</span> </h1>
			<div class="metadata">
			{% if page.date %}
			📅 {{ page.date | date(format="%Y-%m-%d") }} {{page.date | date(format="%a")}}
			{% endif %}

						</div>

		</div>
		<details class="toc">
			<summary>Table of content <em class="date">{{page.word_count }} words  - {{ page.reading_time }} minutes</em></summary>
			<div class="toc-content">
				{% if page.toc %}
				<ul>
					{% for h1 in page.toc %}
					<li><a href="{{h1.permalink | safe }}">{{ h1.title }}</a></li>
					   {% if h1.children %}
					   <ul>
					   {% for h2 in h1.children %}
					   <li><a href="{{h2.permalink | safe }}">{{ h2.title }}</a></li>
					   {% endfor %}
					   </ul>
					   {% endif %}
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</details>

        </div>
	<hr/>
	<div class="content">
               {{ page.content | safe }}
	</div>
    </article>
{% endblock content %}
