{% extends "base.html" %}
{% block page_title %}
<h1 class="site-title">{{ page.title }}.md</span> </h1>
{% endblock %}

{% block content %}
    <article class="article">
        <div class="article-header">
        <!-- {% if page.taxonomies.tags %}
            [{% for tag in page.taxonomies.tags %}
                <a href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}'>{{ tag }}</a>{% if loop.index == page.taxonomies.tags | length - 1 %},{%endif%}
            {% endfor %}]
        {% endif %}-->
        {% if page.date %}
            <p>{{ page.date | date(format="%d-%m-%Y") }}</p>
        {% endif %}
        </div>
		<div class="toc">
			{% if page.toc %}
				<ul>
					{% for h1 in page.toc %}
					<li><a href="{{h1.permalink | safe }}">{{ h1.title }}</a></li>
					   {% if h1.children %}
					   <ul>
					   {% for h2 in h1.children %}
					   <li><a href="{{h2.permalink | safe }}">{{ h2.title }}</a></li>
					   {% endfor %}
					   </ul>
					   {% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
			<div class="content">
               {{ page.content | safe }}
			</div>
    </article>
{% endblock content %}
