{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='author' content='{{ config.extra.author }}'>
    <link rel="stylesheet" href="/main.css">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>👨‍🎓</text></svg>">

<link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@700&display=swap" rel="stylesheet"> 
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/solarized-dark.min.css">
<script src="/highlight/highlight.min.js"></script>
    <title>{{ config.title }}</title>
    {% if page.extra.katex %}
        {{ macros::katex() }}
	{% endif %}
</head>
<body>
    <div class="site-container">
        <header class="site-header">
		<div class="topline">
			<h1>Mahal</h1>
			<img class="profile" src="/mahal.png" width="48" height="48"/>
			<em>lost in the spectrum </em>
		</div>
		{% include "partials/nav.html" %}
        </header>
        <main class="site-content">
            {% block content %}
            {% endblock content %}
            <footer class="site-footer">
      		<p>Site made with Zola and nothing else</p>
            </footer>
        </main>
    </div>
</body>

<script>hljs.highlightAll();</script>
</html>
