{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='author' content='{{ config.extra.author }}'>
    <link rel="stylesheet" href="/main.css">
    <title>{{ config.title }}</title>
    {% if page.extra.katex %}
        {{ macros::katex() }}
    {% endif %}
</head>
<body>
    <div class="site-container">
        <header class="site-header">
            <nav class="site-nav">
                <a href='{{ config.base_url }}/' class='{% if not page.path %} active {% endif %}'>$Home </a>
                <a href='{{ config.base_url }}/projects' class='{% if page %}{% if page.path == "/projects" %} active {% endif %}{% endif %}'>$Projects</a>
                <a href='{{ config.base_url}}/articles' class='{% if page %}{%if page.path == "/articles"%} active {% endif %}{% endif %}'>$Articles</a> 
            </nav>
        {% block page_title %}
        {% endblock %}
        <hr>
        </header>
    <main class="site-content">
	{% block content %}
    {% endblock content %}
        </main>
        <hr>
      <footer class="site-footer" id="media">
		  {% block footer %}
		  <!-- <div class="media-list">
			<a href='{{ config.base_url }}/rss.xml'>rss</a> -
			<a href='{{ config.base_url }}/tags'>tags</a>
          </div> -->
		  {% endblock footer %}
        </footer>
    </div>

</body>
</html>
