{% extends "index.html" %}

{% block content %}
   <div class="content">
    <ul class="articles">
	<h1 class="site-title">Articles</h1>
        {% set articles = section.pages %}
        {% for article in articles %}
	<li class="article-item">
		<div>{{article.date}}</div>
		<div><a href='{{ article.permalink }}'>{{ article.title }}</a></div>
		<div class="tags">
			{% for tag in  article.taxonomies.tags %}
			<div class="tag">{{ tag }}</div>
			{% endfor %}
		</div>
         </li>
        {% endfor %}
    </ul>
   </div>
{% endblock content %}
